body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.container {
    margin: 20px auto;
    width: 80%;
}

.image-list ul {
    list-style: none;
    padding: 0;
}

.image-list li {
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}


h1 {
    margin: 0;
}

main {
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#loading {
    text-align: center;
    margin-top: 20px;
}

#image-container {
    margin-bottom: 20px;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    margin: 10px;
    text-align: center;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}